name: Deploy Sphinx documentation to Pages

on:
  push:
    branches: [main, v2] # branch to trigger deployment
  pull_request:
    branches: [main, v2]
  workflow_dispatch:
  
# allow manually trigger the action


permissions:
  contents: read

jobs:
  deploy-docs:
    # name: build documentation and deploy to github pages
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      # url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      pages: write
      id-token: write
      contents: write

    steps:
    - uses: actions/checkout@v4

    - name: Install pandoc
      run: sudo apt-get update && sudo apt-get install -y pandoc

    - name: Set up python
      uses: actions/setup-python@v4
      
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r docs/requirements.txt
    
    # - name: build documentation with sphinx
    #   run: |
    #     sphinx-build -b html ./docs/source ./docs/build/html
    
    # - name: deploy to github pages
    #   uses: peaceiris/actions-gh-pages@v4
    #   with:
    #     github_token: ${{ secrets.GITHUB_TOKEN }}
    #     publish_dir: ./docs/build/html

    - name: Deploy documentation
      uses: sphinx-notes/pages@v3
      with:
        documentation_path: ./docs/source